<html>
<head>
    <title>Test Form</title>
</head>

<body>

<h1>Test</h1>

<form method="POST">
    <div class="input">
        <label style="min-width: 300px" for="username">First Name</label>
        <input id="username" type="text"><br>
    </div>

    <div class="input">
        <label for="username">Second </label>
        <input id="password" type="password"><br>
    </div>

    <h1>Select please</h1>
    <label for="size">Select size</label>
    <select id="size">
        <option value="volvo">large</option>
        <option value="saab">small</option>
        <option value="mercedes">medium</option>
    </select>
    <br>
    <textarea rows="5">Text area</textarea>

    <br>
    <br>
    <input type="submit" value="Buy">
</form>
</body>
</html>
